<nav>
  <button class="astext" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Zaloguj</button>
  <button class="astext selected" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Zarejestruj</button>
</nav>
<form>
  <input type="text" id="name" name="mail" placeholder="Imię"><br><br>
  <input type="text" id="surname" name="mail" placeholder="Nazwisko"><br><br>
  <input type="email" id="email" name="mail" placeholder="Adres email"><br><br>
  <input type="password" id="password" name="password" placeholder="Hasło"><br><br>
  <input type="password" id="repeat-password" name="repeat-password" placeholder="Powtórz hasło"><br><br>
  <input type="number" id="telephone" name="telephone" placeholder="Numer telefonu"><br><br>
  <input class="login-button" type="submit" value="Zarejestruj mnie!">
</form>
<footer>
  <a href="/about" class="bottom-footer">O nas</a>
  <a href="/contact" class="bottom-footer">Kontakt</a>
</footer>
