nav {
  height: 7.5%;
  background-color: #FFFFFF;
}

.astext {
  background:none;
  border:none;
  margin-top: 5%;
  margin-left: 19%;
  padding:0;
  cursor: pointer;
}

button {
  position: relative;
  font-family : inherit;
  font-size: 1.4em;
}

.selected::before {
  content: "";
  position: absolute;
  top: 150%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #FFC000;
}

form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15%;
}
input {
  font-size: 1.75em;
  border: 0;
}

.login-button {
  position: absolute;
  margin-top: 30%;
  padding: 4%;
  width: 100%;
  background-color: #FFC000;
  font-size: 1.75em;
  border-radius: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
}

.bottom-footer {
  margin-top: 25%;
  padding-left: 25%;
  display: inline-block;
  color: black;
  font-size: 1.1em;
}

