.parent {
  display: grid;
  overflow: scroll;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
  height: 100%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

h2 {
  text-align: left;
  font-weight: normal;
}

.div2 {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}
.div3 {
  grid-area: 2 / 1 / 3 / 6;
  text-align: left;
}

.div4 {
  min-height: 500px;
  grid-area: 4 / 1 / 13 / 6;
  text-align: center;
}

.search-button {
  background-color: #FFC000;
  font-size: 8vmin;
  border-radius: 4px;
  border: none;
  width: 90%;
  height: 80%;
}

button:not(.show-history, .open, .deliver, .close-dialog) {
  width: 100%;
  height: 100%;
  font-size: 10vmin;
}

.show-history, .open, .deliver{
  width: 50%;
  text-decoration: none;
  font-size: 4vmin;
  margin-bottom: 2%;
}

.search-input {
  width: 90%;
  font-size: 6vmin;
  border: 0;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 6vmin;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 2fr);
  border-radius: 6px;
  background-color: #FFFFFF;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

