<div class="parent">
  <div class="div1">
    <button mat-button class="menu-button" (click)="onPress()">
      <mat-icon [inline]="true">menu</mat-icon>
    </button>
  </div>
  <div class="div2">
    <div class="title">Nadaję paczkę</div>
  </div>
  <div class="div3">
    <br>
    <form ngNativeValidate id="second-send-form" #userForm="ngForm" (ngSubmit)="getSendFormData(userForm.value)">
      <label>Dane nadawcy:</label>
      <input type="text" ngModel required id="postal" name="postal" placeholder="Kod pocztowy"><br><br>
      <input type="text" ngModel required id="city" name="city" placeholder="Miasto"><br><br>
      <input type="text" ngModel required id="street" name="street" placeholder="Ulica"><br><br>
      <input type="text" ngModel required id="nrOfHouse" name="nrOfHouse" placeholder="Numer domu"><br><br>
      <label>Dane odbiorcy:</label>
      <input type="text" ngModel required id="receiverLogin" name="receiverLogin" placeholder="Login odbiorcy"><br><br>
      <input type="text" ngModel required id="receiverPostal" name="receiverPostal" placeholder="Kod pocztowy"><br><br>
      <input type="text" ngModel required id="cityReceiver" name="cityReceiver" placeholder="Miasto"><br><br>
      <input type="text" ngModel required id="receiverStreet" name="receiverStreet" placeholder="Ulica"><br><br>
      <input type="text" ngModel required id="nrOfHouseReceiver" name="nrOfHouseReceiver" placeholder="Numer domu"><br><br>
    </form>
  </div>
  <div class="div4">
    <input class="send-button" type="submit" form="second-send-form" value="Nadaj">
  </div>
  <div class="menu-render" *ngIf="display">
    <app-menu></app-menu>
  </div>
</div>
