<nav>
  <button class="astext selected">Zaloguj</button>
  <button class="astext" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Zarejestruj</button>
</nav>
<img src = "assets/images/logo.svg" alt="Logo of BTWL Platform"/>
<form>
  <input type="email" id="email" name="mail" placeholder="Adres email"><br><br>
  <input type="password" id="password" name="password" placeholder="Hasło"><br>
  <input class="login-button" type="submit" value="Zaloguj się!" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
</form>
<footer>
  <a href="/forgot_password" class="forgot-pass">Zapomniałem hasła</a><br>
  <a href="/about" class="bottom-footer">O nas</a>
  <a href="/contact" class="bottom-footer">Kontakt</a>
</footer>

