<div class="parent">
  <div class="div1">
    <button mat-button class="menu-button" (click)="onPress()">
      <mat-icon [inline]="true">menu</mat-icon>
    </button>
  </div>
  <div class="div2">
    <div class="title">Szczegóły paczki</div>
  </div>
  <div class="div3">
    <h2>Dane dotyczące przesyłki</h2>
    ID: {{data.parcel.id}}<br>
    Rozmiar: {{data.parcel.size}}<br>
    Adres wysyłki: {{data.parcel.deliverTo.region.city}} {{data.parcel.deliverTo.region.postalCode}}<br>
    Miejsce odbioru: {{data.parcel.deliverTo.street}} {{data.parcel.deliverTo.nrOfHouse}}<br>
    Nadawca: {{data.parcel.sender.name}} {{data.parcel.sender.surname}}<br>
    Numer telefonu nadawcy: {{data.parcel.sender.phNumber}}<br>
    Numer telefonu kuriera: {{data.parcel.courier.phNumber}}<br>
    Aktualny status: {{data.status[data.status.length-1].status.status}}<br><br>
    <div class="nullTelemetry" *ngIf="nullTelemetry">
      Brak danych!
    </div>
    <div class="telemetry" *ngIf="nullTelemetry == false">
      <h2>Telemetria</h2>
      Temperatura: {{data.telemetry[data.telemetry.length-1].telemetry.temperature}}<br>
      Bateria: {{data.telemetry[data.telemetry.length-1].telemetry.batteryStatus}}%<br>
      Maksymalne przyspieszenie: {{data.telemetry[data.telemetry.length-1].telemetry.maxAcceleration}}<br>
      Wilgotność: {{data.telemetry[data.telemetry.length-1].telemetry.humidity}}%<br>
      Adres MAC BlackBoxa: {{data.parcel.box.mac}}<br>
    </div>
    <button class="show-history" (click)="isShowing = !isShowing">Pokaż historię statusów</button>
    <div class="history" *ngIf="isShowing">
      <div *ngFor="let item of data.status">
        Czas: {{item.time}}<br>
        Status: {{item.status.status}}
      </div>
    </div>
    <div class="alarms" *ngIf="isShowing">
      <div *ngFor="let item of data.alarm">
        Czas: {{item.time}}<br>
        Alarm: {{item.alarm.alarm}}
      </div>
    </div>
    <div class="open-div" *ngIf="data.status[data.status.length-1].status.code == 5 && data.a2a_code5_idle_open_courier_agree == true">
      <button class="open" (click)="accessParcel()">Potwierdź otrzymanie przesyłki</button>
    </div>
    <div class="deliver-div" *ngIf="data.status[data.status.length-1].status.code == 5 && data.a2a_code5_idle_open_receiver_agree == true">
      <button class="deliver" (click)="endTransaction()">Zakończ zlecenie</button>
    </div>
  </div>
  <div class="div4">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <div class="menu-render" *ngIf="display">
    <app-menu></app-menu>
  </div>
</div>

