<div class="parent">
  <div class="div1">
    <button mat-button class="menu-button" (click)="onPress()">
      <mat-icon [inline]="true">menu</mat-icon>
    </button>
  </div>
  <div class="div2">
    <div class="title">Dostarczam paczkę</div>
  </div>
  <div class="div3">
<!--    <form #userForm="ngForm" id="search-form" (ngSubmit)="getSearchFormData(userForm.value)">-->
<!--      <br><input class="search-input" ngModel name="search" id="search" type="search" placeholder="Wprowadź miasto">-->
<!--    </form>-->
    <div class="packages-list"> <!-- *ngIf="userForm.valid" -->
      <div class="container" *ngFor="let item of data">
        <img src = "assets/images/package_list_icon.svg" alt="Icon of package"/>
        <div class="description">
          Do: {{item.id}}<br>
          ID: {{item.size}}<br>
          {{item.deliverFrom}} &#8594; {{item.deliverTo}}<br>
<!--          Status: {{item.status}}-->
        </div>
      </div>
    </div>
  </div>
<!--  <div class="div4">-->
<!--    <input class="search-button" type="submit" form="search-form" value="Szukaj">-->
<!--  </div>-->
  <div class="menu-render" *ngIf="display">
    <app-menu></app-menu>
  </div>
</div>
