<div class="parent">
  <div class="div3">
    <button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Moje paczki</button>
  </div>
  <div class="div4">
    <button routerLink="/pickup" routerLinkActive="active" ariaCurrentWhenActive="page">Odbieram paczkę</button>
  </div>
  <div class="div5">
    <button routerLink="/deliver" routerLinkActive="active" ariaCurrentWhenActive="page">Dostarczam paczkę</button>
  </div>
  <div class="div6">
    <button class="bottom-item" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Mój profil</button>
  </div>
</div>

